.dropdown {
  padding: 15px 0;
}

.item {
  padding: 2px 20px;

  &[data-hovered="true"] {
    background: var(--mantine-color-elv-neutral-4);
    border-radius: 0;
    color: var(--mantine-color-white);
  }
}

.navLink {
  padding: 0;

  &:hover {
    background-color: transparent;
  }
}
