.section {
  color: var(--mantine-color-elv-gray-8);

  &[data-position="right"] {
    color: var(--mantine-color-elv-gray-9);
    font-weight: 500;
    margin-inline-start: 5px;
  }

  &[data-position="left"] {
    margin-inline-end: 8px;
  }
}

.label {
  color: var(--mantine-color-elv-gray-9);
  font-weight: 500;
}

.icon {
  height: 20px;
  width: 20px;
}
